<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #app {
            width: 600px;
            margin: 10px auto;
        }
        
        .tb {
            border-collapse: collapse;
            width: 100%;
        }
        
        .tb th {
            background-color: #0094ff;
            color: white;
        }
        
        .tb td,
        .tb th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }
        
        .add {
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="add">
            品牌名称:
            <input type="text" v-model="name" v-focus>
            <input type="button" value="添加" :disabled="!name" @click="addItem">
        </div>

        <div class="add">
            品牌名称:
            <input type="text" placeholder="请输入搜索条件" v-model="searchName">
        </div>

        <div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(item,index) in filterList">
                    <td>{{ index + 1 }}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.date |formatDate('YYYY-MM-DD hh:mm:ss')}}</td>
                    <td>
                        <a href="#" @click.prevent="delItem(item.id)">删除</a>
                    </td>
                </tr>
                <tr v-if="!list.length">
                    <td colspan="4">没有品牌数据</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="../vue.js"></script>
    <script src="./moment.min.js"></script>
    <script src="./axios.min.js"></script>
    <script>
        Vue.directive("focus", {
            inserted(dom) {
                dom.focus()
            }
        })
        var vm = new Vue({
            el: "#app",
            data: {
                list: [],
                name: '', //双向绑定添加的内容
                searchName: "" //双向绑定搜多内容

            },
            methods: {
                addItem() {
                    axios.post("http://localhost:3000/city", {
                        title: this.name,
                        date: new Date()
                    }).then((result) => {
                        if (result.status == 201) {
                            this.getData();
                            this.name = ""
                        }
                    })
                },
                delItem(id) {
                    if (confirm("是否要删除")) {
                        axios.delete(`http://localhost:3000/city/${id}`).then(() => {
                            this.getData()
                        })
                    }
                },
                getData() {
                    axios.get(" http://localhost:3000/city").then(result => {
                        this.list = result.data;
                        // console.log(result);


                    })
                }
            },
            filters: {
                formatDate(value, format) {
                    return moment(value).format(format)
                }
            },
            computed: {
                filterList() {
                    return this.list.filter((item) => {
                        return item.title.indexOf(this.searchName) > -1

                    })
                }
            },
            mounted() {
                this.getData()
            }
        })
    </script>
</body>

</html>