<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- 
        任务`**: 

        1. 初始化一个Vue实例
        2. 定义data对象中 person: { name: '张三', sex:'男',age: 18 }
        3. 将person中的内容 v-for循环在li标签上显示
    -->
    <div id="app">
        <ul>
            <li v-for="item in per">{{item}}</li>
            <li v-for="(item,key) in per">{{item}}{{key}}</li>
            <li v-for="(item,key,index) in per"> {{item}}{{key}}{{index}}</li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                per: {
                    name: "张三",
                    sex: "男",
                    age: "18"
                }
            }
        })
    </script>
</body>

</html>